<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title> Front end do REST API </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div>

    <h2>Students list:</h2>

    <a th:href="@{/addStudent}">Add Student</a>

    <form class="student-delete">
        <label for="id">Enter student ID to delete</label>
        <input type="text" id="id" placeholder="ID">
        <button type="submit" >Delete</button>
    </form>

    <div class="message"></div>

    <div id="main"> </div>
</div>
<script type="text/javascript" src="js/script.js"></script>
</body>
</html>