<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Student</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>

<div class="container">
    <h3>Update Student</h3>
    <hr>

    <p>Update Student</p>

    <form class="student-update">
        <input type="text" id="name" placeholder="Name">
        <input type="text" id="surname" placeholder="Surname">
        <input type="text" id="average" placeholder="Average">
        <button type="submit" >Save</button>
    </form>

    <div class="message" style="color: red"></div>

    <hr>
    <a th:href="@{/}">Back to Student list</a>
</div>

<script type="text/javascript" src="js/update-student.js"></script>
</body>

</html>